/* ------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
  font-size: 10px;
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 9.375px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

html,
body {
  height: 100%;
}

body {
  background: #111111;
  font-family: 'librebaskerville-regular', serif;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #353535;
  margin: 0;
  padding: 0;
}
/****Profile Card****/
.snip1540 {
  box-shadow: none;
  color: #141414;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1540 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1540 .profile-image img {
  border-radius: 5px;
  max-width: 100%;
  height: 80px;
  vertical-align: top;
  float: left;
}

.snip1540 figcaption {
  background-color: #2b2d2e;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-top: 15px;
  padding: 25px;
  position: relative;
  width: 100%;
}

.snip1540 figcaption:after {
  border-color: transparent transparent #333333 transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  bottom: 100%;
  content: '';
  height: 0;
  left: 32px;
  position: absolute;
  width: 0;
}

.snip1540 h3,
.snip1540 h4,
.snip1540 p {
  margin: 0 0 5px;
}

.snip1540 h3 {
  font-weight: 600;
  font-size: 1.2em;
  font-family: 'Montserrat', Arial, sans-serif;
}

.snip1540 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1540 .icons {
  padding: 20px 90px;
  font-size: 1.2rem;
}

.snip1540 i {
  color: #0e0d0d;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  opacity: 0.75;
  padding: 10px 2px;
}

.snip1540 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* ------------------------------------------------------------------- 
 * links - (_document-setup) 
 * ------------------------------------------------------------------- */

a,
a:visited {
  color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: #2dd5ff;
}

#title {
  animation: glitch 0.7s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(6px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-4px, 0) skew(4deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

title:before,
title:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

title:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

title:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

/* typography*/
h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h05,
.h06 {
  font-family: 'montserrat-bold', sans-serif;
  color: #151515;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.1rem;
}

h3,
.h03,
h4,
.h04 {
  margin-bottom: 1.8rem;
}

h5,
.h05,
h6,
.h06 {
  margin-bottom: 1.2rem;
}

h1,
.h01 {
  font-size: 3.1rem;
  line-height: 1.35;
  letter-spacing: -0.1rem;
}
@media only screen and (max-width: 600px) {
  h1,
  .h01 {
    font-size: 2.6rem;
    letter-spacing: -0.07rem;
  }
}

h2,
.h02 {
  font-size: 2.4rem;
  line-height: 1.25;
}

h3,
.h03 {
  font-size: 2rem;
  line-height: 1.5;
}

h4,
.h04 {
  font-size: 1.7rem;
  line-height: 1.76;
}

h5,
.h05 {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  padding-top: 1rem;
}

h6,
.h06 {
  font-size: 1.3rem;
  line-height: 1.85;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p img {
  margin: 0;
}

p.lead {
  font-family: 'montserrat-regular', sans-serif;
  font-size: 1.7rem;
  line-height: 1.8;
  margin-bottom: 3.6rem;
  color: white;
}
p.lead2 {
  font-family: 'montserrat-regular', sans-serif;
  font-size: 1.7rem;
  line-height: 1.8;
  margin-bottom: 3.6rem;
  color: white;
}
@media only screen and (max-width: 768px) {
  p.lead {
    font-size: 1.8rem;
  }
  p.lead2 {
    font-size: 1.8rem;
  }
}

em,
i,
strong,
b {
  font-size: 1.6rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: normal;
}

em,
i {
  font-family: 'librebaskerville-italic', serif;
}

strong,
b {
  font-family: 'librebaskerville-bold', serif;
}

small {
  font-size: 1.1rem;
  line-height: inherit;
}

var,
kbd,
samp,
code,
pre {
  font-family: Consolas, 'Andale Mono', Courier, 'Courier New', monospace;
}

pre {
  padding: 2.4rem 3rem 3rem;
  background: #f1f1f1;
}

/* ------------------------------------------------------------------- 
 * Lists  */
ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  display: list-item;
}

ol,
ul {
  margin-left: 1.7rem;
}

ul li {
  padding-left: 0.4rem;
  display: inline;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.6rem 0 0.6rem 1.7rem;
}

ul.disc li {
  display: list-item;
  list-style: none;
  padding: 0 0 0 0.8rem;
  position: relative;
}
ul.disc li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2dd5ff;
  position: absolute;
  left: -17px;
  top: 11px;
  vertical-align: middle;
}

dt {
  margin: 0;
  color: #2dd5ff;
}

dd {
  margin: 0 0 0 2rem;
}

button,
.button {
  margin-bottom: 1.2rem;
}

img.pull-right {
  margin: 1.5rem 0 0 3rem;
}

img.pull-left {
  margin: 1.5rem 3rem 0 0;
}

/*  block grids paddings */
.bgrid {
  padding: 0 20px;
}
@media only screen and (max-width: 1024px) {
  .bgrid {
    padding: 0 18px;
  }
}
@media only screen and (max-width: 768px) {
  .bgrid {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 600px) {
  .bgrid {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 400px) {
  .bgrid {
    padding: 0;
  }
}

/* tables  */
table {
  border-width: 0;
  width: 100%;
  max-width: 100%;
  font-family: 'librebaskerville-regular', sans-serif;
}

th,
td {
  padding: 1.5rem 3rem;
  text-align: left;
  border-bottom: 1px solid #e8e8e8;
}

th {
  color: #151515;
  font-family: 'montserrat-bold', sans-serif;
}

td {
  line-height: 1.5;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* IE9 and below */
.oldie .ss-custom-select::after {
  display: none;
}

/* 06. buttons  */
.button,
a.button,
button,
input[type='button'] {
  display: inline-block;
  font-family: 'montserrat-bold', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  height: 5.4rem;
  line-height: 5.4rem;
  padding: 0 3rem;
  margin: 0 0.3rem 1.2rem 0;
  background: #ffffff;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='button']:focus {
  background: #2dd5ff;
  color: #000000;
  outline: 0;
}

/*common and reusable styles */
.section-intro {
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
}
.section-intro h1 {
  font-family: 'librebaskerville-bold', serif;
  font-size: 4.8rem;
  line-height: 1.375;
  color: #ffffff;
}
.section-intro .lead {
  font-family: 'montserrat-regular', sans-serif;
  font-size: 1.8;
  line-height: 1.833;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
}

/* responsive:
 * section-intro */
@media only screen and (max-width: 1024px) {
  .section-intro h1 {
    font-size: 4.4rem;
  }
  .section-intro .lead {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-intro h1 {
    font-size: 4rem;
  }
  .section-intro h3 {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 600px) {
  .section-intro h1 {
    font-size: 3.4rem;
  }
  .section-intro h3 {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 500px) {
  .section-intro h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .section-intro h1 {
    font-size: 3.1rem;
  }
}
.wide {
  max-width: 1300px;
}

.narrow {
  max-width: 800px;
}

/*  header styles */
header {
  width: 100%;
  height: auto;
  position: absolute;
  text-align: center;
  z-index: 700;
}
header .row {
  height: auto;
  max-width: 1300px;
  position: relative;
}

/*  header logo  */
header .header-logo {
  position: absolute;
  left: 32px;
  top: 42px;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
header .header-logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  width: 57px;
  height: 27px;
  background: url('../images/logo.png') no-repeat center;
  background-size: 57px 27px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* responsive:
 * header section  */
@media only screen and (max-width: 768px) {
  header .header-logo a {
    width: 51px;
    height: 24px;
    background-size: 51px 24px;
  }
}

/*  home  */
#home {
  width: 100%;
  height: 100%;
  background-color: #030303;
  background-repeat: no-repeat;
  background-position: center 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-height: 804px;
  position: relative;
}
#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.home-content-table {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  text-align: center;
}

.home-content-tablecell {
  display: table-cell;
  vertical-align: middle;
  z-index: 500;
}
.home-content-tablecell .row {
  position: relative;
  padding-top: 16.2rem;
  padding-bottom: 15rem;
}
.home-content-tablecell h3 {
  font-family: 'montserrat-bold', sans-serif;
  font-size: 2.2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0 0 0.9rem 0;
}
.home-content-tablecell h1 {
  font-family: 'montserrat-bold', serif;
  font-size: 9rem;
  line-height: 1.133;
  color: #ffffff;
}
.home-content-tablecell .more {
  margin: 4.8rem 0 0 0;
}

/* scroll down */
.scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top 0;
  -ms-transform-origin: right top 0;
  transform-origin: right top 0;
  float: right;
}
.scrolldown i {
  padding-left: 9px;
}
.scrolldown a:hover,
.scrolldown a:focus,
.scrolldown a:active {
  color: #151515 !important;
}

.scroll-icon {
  display: inline-block;
  font-family: 'montserrat-bold', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff !important;
  background: transparent;
  position: relative;
  top: 46px;
  right: 92px;
  -webkit-animation: animate-it 3s ease infinite;
  animation: animate-it 3s ease infinite;
}

/* vertical animation */
@-webkit-keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}
@keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}

/* responsive:
 * home section  */
@media only screen and (max-width: 1200px) {
  .home-content-tablecell h3 {
    font-size: 2.1rem;
  }
  .home-content-tablecell h1 {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 1024px) {
  .home-content-tablecell h3 {
    font-size: 2rem;
  }
  .home-content-tablecell h1 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 768px) {
  .home-content-tablecell .row {
    max-width: 600px;
  }
  .home-content-tablecell h3 {
    font-size: 1.8rem;
  }
  .home-content-tablecell h1 {
    font-size: 5.2rem;
  }
  .home-content-tablecell h1 br {
    display: none;
  }

  .scrolldown .scroll-icon {
    font-size: 1.2rem;
    top: 24px;
    right: 10px;
  }
}
@media only screen and (max-width: 600px) {
  #home {
    min-height: 702px;
  }

  .home-content-tablecell .row {
    max-width: 480px;
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .home-content-tablecell h3 {
    font-size: 1.7rem;
  }
  .home-content-tablecell h1 {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 500px) {
  .home-content-tablecell .row {
    max-width: 420px;
  }
  .home-content-tablecell h3 {
    font-size: 1.5rem;
  }
  .home-content-tablecell h1 {
    font-size: 4.2rem;
  }
}
@media only screen and (max-width: 400px) {
  #home {
    min-height: 654px;
  }

  .home-content-tablecell .row {
    padding-top: 4.8rem;
    padding-bottom: 10.8rem;
  }
  .home-content-tablecell h3 {
    font-size: 1.4rem;
  }
  .home-content-tablecell h1 {
    font-size: 3.6rem;
  }
}

/*   about  */

#about {
  position: relative;
  padding: 9.2rem 0 12rem;
  background-repeat: no-repeat;
  background-image: url(../images/background.jpg);
  min-height: 696px;
  text-align: center;
  height: 100%;
  background-position: center;
  background-size: cover;
}
#about .about-wrap {
  max-width: 850px;
}
#about span {
  color: #2dd5ff;
}
#about h3 {
  font-family: 'montserrat-bold', sans-serif;
  font-size: 1.8rem;
  line-height: 1.667;
  color: #2dd5ff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
}

#about .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
}

#about .card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: rgba(191, 201, 206, 0.356);
}

.image img {
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid hsla(0, 0%, 0%, 0.1);
  margin-top: 1rem;
}

.name {
  color: hsla(192, 10%, 10%, 0.8);
}

.option {
  font-size: 18px;
}

.option {
  color: #2dd5ff;
  margin-bottom: 2rem;
}

.intro {
  color: hsl(0, 0%, 0%);
  font-family: 'montserrat-bold', sans-serif;
  font-size: 2.5rem;
  margin: 2rem;
}

/* responsive:
 * about */
@media only screen and (max-width: 1024px) {
  #about {
    min-height: 636px;
  }
  #about .about-wrap {
    max-width: 800px;
  }
  #about .lead {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: 900px) {
  #about .about-wrap {
    max-width: 720px;
  }
  #about .lead {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 768px) {
  #about h3 {
    font-size: 1.7rem;
  }
  #about .about-wrap {
    max-width: 600px;
  }
  #about .card {
    font-size: 3.1rem;
  }
}
@media only screen and (max-width: 600px) {
  #about {
    min-height: auto;
  }
  #about .about-wrap {
    max-width: 500px;
  }
  #about .card {
    margin-top: 4.8rem;
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 500px) {
  #about h3 {
    font-size: 1.5rem;
  }
  #about .card {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 400px) {
  #about {
    padding: 4.2rem 0 9.6rem;
  }
  #about .about-wrap {
    max-width: 380px;
  }
  #about .card {
    font-size: 1.8rem;
  }
}

/* projects */
#projects .section-intro h3 {
  color: #2dd5ff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding-top: 2.2rem;
}
#projects {
  background-color: black;
}

#projects .projects-list {
  margin-top: 1.2rem;
  text-align: center;
}
.projects-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr 1fr);
  gap: 1.6rem;
  text-align: center;
}
img.projectlink {
  border: 5px solid #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  height: auto;
  width: 300px;
  max-width: 500px;
}

img.projectlink {
  filter: gray;
  -webkit-filter: grayscale(1);
}

img.projectlink:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

/* responsive:
 * projects */
@media only screen and (max-width: 1024px) {
  #projects .projects-list .service-item {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 900px) {
  #projects .projects-list .service-item {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  #projects {
    padding: 12rem 0 12rem;
  }
  #projects .projects-content {
    max-width: 550px;
    display: block;
  }
}
#projects .projects-list .service-item {
  padding: 0 15px;
}
#projects .projects-list .icon i {
  font-size: 5.1rem;
}

@media only screen and (max-width: 600px) {
  #projects .projects-list .service-item {
    padding: 0 10px;
  }
  #projects .projects-list .icon i {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 400px) {
  #projects .projects-list .service-item {
    padding: 0;
  }
}

/* more */
.more-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr 1fr);

  gap: 2.4rem;
}
#more .title-more h3 {
  margin: 2rem;
  color: #2dd5ff;
}
#more .intro-wrap {
  padding: 15rem 0 21rem;
  background: #000000;
}
.section-intro {
  color: #2dd5ff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
#more .section-intro {
  color: #000000;
  margin: 5rem;
}
#more .folio-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: 'montserrat-bold', sans-serif;
  color: white;
}
#more .more-content {
  margin-top: -22.2rem;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .lg-sub-html {
    padding: 12px 15% 15px;
  }
}
@media only screen and (max-width: 768px) {
  .lg-sub-html {
    padding: 12px 40px 15px;
  }
}

/*responsive:
 * more */
@media only screen and (max-width: 768px) {
  #more .intro-wrap {
    padding: 12rem 0 21rem;
  }
}
@media only screen and (max-width: 600px) {
  #more .bricks-wrapper .brick {
    float: none;
    width: 100%;
  }

  .bricks-wrapper .item-wrap .item-text .folio-title {
    font-size: 2rem;
    line-height: 1.5;
  }
}

/*skills*/
#skills {
  background: #fcfcfc;
  text-align: center;
}
#skills h2 {
  font-family: 'montserrat-bold', sans-serif;
  font-size: 1.8rem;
  color: #2dd5ff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

#skills .flex-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

#skills {
  position: relative;
}
#skills .slides {
  padding-bottom: 3rem;
}
#skills p::before,
#skills p::after {
  display: inline-block;
  font-family: 'librebaskerville-bold', serif;
  font-size: 3.6rem;
  line-height: 1;
}
#skills p::before {
  content: '\201C';
}
#skills p::after {
  content: '\201D';
}

#skills .skills-list img {
  width: 7.4rem;
  height: 7.4rem;
  margin: 0 auto 1.2rem auto;
  display: inline-block;
  border-radius: 50%;
}
/* control nav */
#skills .flex-control-nav {
  width: 100%;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: -1.5rem;
}
#skills-tools {
  color: black;
}

/*ion icons*/
.ion-social-html5 {
  font-size: 30px;
}
.ion-social-css3 {
  font-size: 30px;
}

i.fab.fa-js-square {
  font-size: 30px;
}
.ion-social-nodejs {
  font-size: 30px;
}
i.fab.fa-java {
  font-size: 30px;
}
.ion-social-sass {
  font-size: 30px;
}
.ion-social-github {
  font-size: 30px;
}
.ion-social-codepen {
  font-size: 30px;
}
.icon.ion-ios-email {
  font-size: 30px;
}
i.ion-social-linkedin {
  font-size: 30px;
}
i.ion-social-github {
  font-size: 30px;
}
i.fab.fa-envira {
  font-size: 30px;
}
i.fab.fa-react {
  font-size: 30px;
}
i.fab.fa-npm {
  font-size: 30px;
}
i.fab.fa-git-alt {
  font-size: 30px;
}
i.express {
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica;
  font-style: normal;
  font-size: 26px;
}
/* responsive:
 * skills */
@media only screen and (max-width: 1024px) {
  #skills-list p {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 768px) {
  #skills h2 {
    font-size: 1.7rem;
  }
  #skills-tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #skills-list p {
    font-size: 2.5rem;
  }
  #skills-list .skills-list img {
    width: 6.6rem;
    height: 6.6rem;
  }
  #skills-list .skills-list {
    font-size: 1.8rem;
  }
  #skills-list .skills-list {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  #skills .flex-container {
    width: 90%;
  }

  #skills-list p {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 500px) {
  #skills h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  #skills .flex-container {
    width: 100%;
  }

  #skills-list p {
    font-size: 2rem;
  }
}

/* footer bottom */
footer {
  padding-top: 3rem;
}
.footer-bottom {
  margin-top: 0.5rem;
  text-align: center;
  font-family: 'montserrat-regular', sans-serif;
  font-size: 1.4rem;
  padding: 0.9rem;
}
.footer-bottom .copyright span {
  display: inline-block;
}

i.icon-arrow-up {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #2dd5ff;
  padding: 10px 30px;
  position: fixed;
  bottom: 40px;
  left: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
i.icon-arrow-up:hover {
  background-color: #222222;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
  i.icon-arrow-up {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    left: 20px;
    position: fixed;
  }
}
@media only screen and (max-width: 768px) {
  i.icon-arrow-up {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
    position: fixed;
  }
}
/* responsive:
 * footer */
@media only screen and (max-width: 768px) {
  i.icon-arrow-up {
    bottom: 0;
    right: 0;
    left: 30rem;
  }

  .footer-main {
    text-align: center;
  }
  .footer-main .row {
    max-width: 480px;
  }
  .footer-main [class*='col-'] {
    margin-bottom: 3.6rem;
  }

  footer h4.h05 {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }

  footer h4.h05::after {
    left: 50%;
    margin-left: -50px;
  }
}
@media only screen and (max-width: 600px) {
  .footer-bottom {
    padding-bottom: 0.6rem;
  }
  .footer-bottom .copyright span {
    display: block;
  }
  .footer-bottom .copyright span::after {
    display: none;
  }
}
